 table{
  max-width: 800px;
  margin: auto;
  border-collapse: collapse;
 }
 table, td, th {
  border: 1px solid;
  text-align: center;
}
table tr:nth-child(odd){
background: aliceblue;
}
table td:nth-child(2){
  text-align: left;
  padding-left: 15px;
}

.form input{
  max-width: 100px;
  @media screen and (min-width: 768px) {
    max-width: 200px;
  }
}
.form button{
  background: aliceblue;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
      font-size: 14px;
  }
}
.check-checkbox input{
  cursor: pointer;
}
